<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contador 1.4</title>
  </head>
  <body>
    <h1>Contador 1.4</h1>

    <p> 
      Valor actual = <span id="valor">???</span> 
    </p>

    <button type="button" id="cincr">Incrementar</button>
    <button type="button" id="cdecr">Decrementar</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>

    <script src="../javascripts/app.js"></script>
  </body>
</html>
